// Mixins Here

.text-shadow (@string: 0 1px 3px rgba(104, 99, 99, 0.836)) {
	text-shadow: @string;
}
.flexColumnCenter(){
    display: flex;
    flex-direction: column;
    align-items: center;
};

.flexRowSpaceAround(){
    display: flex;
    justify-content: space-around;
}

.custom-button(@Bcolor, @color) {
    display: block;
    color: @color;
    padding: 8px;
    text-align: center;
    background-color: @Bcolor;
    margin:  10px 0px;
    cursor: pointer;
    width: 110px;
    height: 40px;
    font-size: 1.9rem;
    border-radius: 6px;
}

.custom-button2(@Bcolor, @color){
    display: block;
    color: @color;
    padding: 10px;
    text-align: center;
    background-color: @Bcolor;
    margin:  10px 20px 0 0;
    cursor: pointer;
    width: 480px;
    height: 50px;
    font-size: 1.9rem;
    border-radius: 0px;
}