// Navigation code here
.navigation {
    .flexColumnCenter();
    margin: 1% 0;

    h1 {
        font-size: 4rem;
        margin: 0 0 1.3% 0;
    }
    nav {
       .flexRowSpaceAround();
        font-size: 1.8rem;
        width: 50%;
    }
}